[Desktop Entry]
Type=Application
Name=Tervező
Comment[hu_HU]=Projekt-tervező és feladatkövető alkalmazás
Comment=Project planning and task tracking application
Exec=tervezo
Icon=tervezo
Categories=Office;Development;
StartupNotify=true
Terminal=false
